#headd {
    font-family: cursive;
    position: relative;
    left: 30px;
}

#df{
    display: block;
}

#year {
    display: none;
}

a {
    text-decoration: none;
}

#tow {
    display: none;
}

#bs {
    display: none;
}

#ne {
    font-family: Impact;
}

#but {
    border-radius: 15px;
    background-color: blue;
    text-decoration-color: rgb(0, 102, 255);
}

#buy {
    color: blue;
    font-family: cursive;
    position: absolute;
    top: 10px;
    left: 550px;
}

#bas {
    background-color: rgb(3, 21, 90);
    border-radius: 10px;
    height: 100%;
    width: 280px;
    position: absolute;
    left: 0%;
    top: 8%;
}

*{
    margin: 0;
    padding: 0;
}