#headd {
    font-family: cursive;
    position: relative;
    left: 30px;
}

#df{
    display: block;
}

#year {
    display: none;
}

a {
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
}