#headd {
    font-family: cursive;
    position: relative;
    left: 30px;
}

#df{
    display: block;
    position: relative;
    left: 40px;
}

#year {
    display: none;
}

a {
    text-decoration: none;
}

#tow {
    display: none;
}

#bs {
    display: none;
}

#ne {
    font-family: Impact;
    color: red;
}

#but {
    border-radius: 15px;
    background-color: blue;
    text-decoration-color: rgb(0, 102, 255);
}

#buy {
    color: blue;
    font-family: cursive;
    position: absolute;
    top: 10px;
    left: 650px;
}

#prof {
    position: absolute;
    left: 10px;
    top: 150px;
}

#bas {
    background-color: rgb(3, 21, 90);
    border-radius: 10px;
    height: 100%;
    width: 330px;
    position: absolute;
    left: 0%;
    top: 8%;
}

#profile_data {
    font-family: cursive;
    border: rgb(21, 96, 182) solid;
    border-radius: 3px;
    text-align: center;
    width: 25%;
    height: 30%;
    position: absolute;
    top: 150px;
    left: 1375px;
}

#nn {
    font-family: cursive;
    position: absolute;
    top: 200px;
    left: 600px;
}

.im {
    width: 280px;
    height: 400px;
    align-self: center;
}

#butt {
    background-color: blue;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    right: 25px;
}

*{
    margin: 0;
    padding: 0;
}