{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block body%}
<script>
    function buy_bask () {
        alert('товар замовлено')
    }
</script>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% if basket2 %}
            <div id="bas">
                <p style="color: white;">Що в кошику</p><br>
                {% for m in basket2 %}
                    <div style="color: white;">
                        {{ m.name_prod }}  -   ₴ {{ m.price }}
                        <form action="/bask/{{ m.id }}" method="post">
                            <button type="submit" name="delete">✖</button>
                        </form>
                    </div>
                    
                {% endfor %}
                <h6 style="color: white;">Сумма - ₴ {{ prc }}</h6>
                <form action="/bask_buy" method="post">
                    <button class="btn btn-primary rounded-pill px-3" type="submit" name="buy">Купити</button>
                </form>
            </div>
            {% for a in basket2 %}
                <div class="col" id="df">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <img src="{{ a.image }}" class="im">
                        <h4 class="my-0 fw-normal">{{ a.name_prod }}</h4>
                        <h1 class="card-title pricing-card-title">₴ {{ a.price }}</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Жанр: {{ a.genre }}</li>
                            <li>Виробник: {{ a.producer }}</li>
                            <li>Рік випуску: {{ a.year }}</li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div id="nn">
                <h1>Нема товару</h1>
                <h4>Але ти завжди можеш це виправити:)</h4>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}