{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<div class="container">
    <div class="form text-center row justify-content-center">
        <form method="post" class="col-6 p-3 justify-content-center form-inline">
            {{ form.hidden_tag() }}
            {{ form.name_prod.label }}
            {{ form.name_prod(class_='form-control') }}

            {{ form.price.label }}
            {{ form.price(class_='form-control') }}

            {{ form.genre.label }}
            {{ form.genre(class_='form-control') }}

            {{ form.producer.label }}
            {{ form.producer(class_='form-control') }}

            {{ form.year.label }}
            {{ form.year(class_='form-control') }}

            {{ form.submit(class_='form-control my-3 col-sm-3') }}
    </div>
</div>
{% endblock %}