{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Сортувати по
    </button>
    <ul class="dropdown-menu">
      <li><button class="dropdown-item" type="button"><a href="/index" class="nav-link">Bce</a></button></li>
      <li><button class="dropdown-item" type="button"><a href="/sorted_by_year_h" class="nav-link">По року випуску ↑</a></button></li>
      <li><button class="dropdown-item" type="button"><a href="/sorted_by_year_l" class="nav-link">По року випуску ↓</a></button></li>
      <li><button class="dropdown-item" type="button"><a href="/sorted_by_price_h" class="nav-link">По ціні ↑</a></button></li>
      <li><button class="dropdown-item" type="button"><a href="/sorted_by_price_l" class="nav-link">По ціні ↓</a></button></li>
      <li><button class="dropdown-item" type="button"><a href="/action" class="nav-link">Action</a></button></li>
      <li><button class="dropdown-item" type="button"><a href="/horror" class="nav-link">Horror</a></button></li>
      <li><button class="dropdown-item" type="button"><a href="/racing" class="nav-link">Racing</a></button></li>
      <li><button class="dropdown-item" type="button"><a href="/simulators" class="nav-link">Simulator</a></button></li>

    </ul>
</div>
<div id="bs">{{ basket }}</div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            {% for a in prod %}
                <div id="tow">{{ a.id }}</div>
                <div class="col" id="df">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <img src="{{ a.image }}" class="im">
                        <h4 class="my-0 fw-normal">{{ a.name_prod }}</h4>
                        <h3 class="card-title pricing-card-title">₴ {{ a.price }}</h3>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Жанр: {{ a.genre }}</li>
                            <li>Виробник: {{ a.producer }}</li>
                            <li>Рік випуску: {{ a.year }}</li>
                        </ul>
                        {% if current_user.username == "Admin" %}
                            <form action="/del/{{ a.id }}">
                                <button id="butt" type="submit">✖</button>
                            </form>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                            {% if a.id in user_prod.history %}
                                <p style="font-family: Impact;color: #2fff00;">Ви уже купили цей товар</p>
                            {% elif a.id in basket %}
                                <p style="font-family: Impact;color: rgb(120, 120, 0);">Товар в корзині</p>
                            {% else %}
                                <form action='/bas/{{ a.id }}' method="POST">
                                    <input type="hidden" name='game' id="inp" value="">
                                    <button type="submit" class="w-100 btn btn-lg btn-outline-primary" onclick="add_tovar()">Купити</button>
                                </form>
                            {% endif %}
                        {% else %}
                            <p id="ne">Спочатку зареєструйтесь</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}