{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Сортувати по
    </button>
    <ul class="dropdown-menu">
      <li><button class="dropdown-item" type="button">Bce</button></li>
      <li><button class="dropdown-item" type="button">По року випуску ↑</button></li>
      <li><button class="dropdown-item" type="button">По року випуску ↓</button></li>
      <li><button class="dropdown-item" type="button">По ціні ↑</button></li>
      <li><button class="dropdown-item" type="button">По ціні ↓</button></li>
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Жанр
        </button>
        <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button">Action</button></li>
            <li><button class="dropdown-item" type="button">Horror</button></li>
            <li><button class="dropdown-item" type="button">Racing</button></li>
            <li><button class="dropdown-item" type="button">Simulator</button></li>
        </ul>
      </li>
    </ul>
</div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            {% for a in prod %}
                <div class="col" id="df">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <h4 class="my-0 fw-normal">{{ a.name_prod }}</h4>
                        <h1 class="card-title pricing-card-title">₴ {{ a.price }}</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Жанр: {{ a.genre }}</li>
                            <li>Виробник: {{ a.producer }}</li>
                            <li>Рік випуску: {{ a.year }}</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Buy</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}